.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  overflow: hidden;
}

.bg-shape {
  opacity: 0.2;
  filter: blur(90px);
}

.bg-shape1 {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  position: absolute;
  animation: float1 20s infinite ease-in-out;
  background-color: #7e22ce; /* PURPLE 700 */
  left: 10%;
  top: 10%;
}

.bg-shape2 {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: absolute;
  animation: float2 18s infinite ease-in-out;
  background-color: #4338ca; /* INDIGO 700 */
  left: 50%;
  top: 50%;
}

.bg-shape3 {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  position: absolute;
  animation: float3 22s infinite ease-in-out;
  background-color: #a21caf; /* FUCHSIA 700 */
  right: 10%;
  bottom: 10%;
}

header {
  text-align: center;
  z-index: 10;
}

h1 {
  font-size: 6.4rem;
  font-weight: 500;
}

p {
  font-size: 2.4rem;
}

form {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 70rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.main-input {
  width: 75%;
  padding: 10px 20px 10px 40px;
  font-size: 1.6rem;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  outline: none;
  -webkit-appearance: none;
  transition: box-shadow 0.3s ease;
  margin-right: auto;
}

.main-input:hover,
.main-input:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-icon {
  position: absolute;
  left: 1.2rem;
  height: 2rem;
  width: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3.4rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1d4ed8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

.fun-mode-label {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.button-container {
  margin-top: 5rem;
}

.button-container button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 1rem;
}

.search-btn {
  background-color: #7e22ce;
  color: white;
}

.search-btn:hover {
  background-color: #a21caf;
}

.random-btn {
  background-color: #4338ca;
  color: white;
}

.random-btn:hover {
  background-color: #6b4fce;
}

.button-container button:last-child {
  margin-right: 0;
}

@keyframes float1 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(10vw, 10vh) scale(1.05);
  }
  50% {
    transform: translate(-10vw, -10vh) scale(1);
  }
  75% {
    transform: translate(10vw, -10vh) scale(0.95);
  }
}

@keyframes float2 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-10vw, 10vh) scale(0.95);
  }
  50% {
    transform: translate(10vw, 10vh) scale(1);
  }
  75% {
    transform: translate(-10vw, -10vh) scale(1.05);
  }
}

@keyframes float3 {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(-10vw, -10vh) scale(1.05);
  }
  50% {
    transform: translate(10vw, -10vh) scale(1);
  }
  75% {
    transform: translate(-10vw, 10vh) scale(0.95);
  }
}
