.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 70rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 75%;
  border: 1px solid #dfe1e5;
  border-top: none;
  background-color: white;
  list-style: none;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  z-index: 1000;
  border-radius: 2.4rem;
  overflow: hidden;
}

.suggestion-item {
  padding: 10px 20px;
  cursor: pointer;
}

.suggestion-item:not(:last-child) {
  border-bottom: 1px solid #dfe1e5;
}

.suggestion-item:hover {
  background-color: #eee;
}

.main-input {
  width: 75%;
  padding: 10px 20px 10px 40px;
  font-size: 1.6rem;
  border: 1px solid #dfe1e5;
  border-radius: 2.4rem;
  outline: none;
  -webkit-appearance: none;
  transition: box-shadow 0.3s ease;
  margin-right: auto;
}

.main-input:hover,
.main-input:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-icon {
  position: absolute;
  left: 1.2rem;
  height: 2rem;
  width: 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3.4rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 3.4rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.6rem;
  width: 2.6rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1d4ed8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.6rem);
  -ms-transform: translateX(2.6rem);
  transform: translateX(2.6rem);
}

.fun-mode-label {
  font-size: 1.4rem;
  margin-left: 1rem;
}
