.loading-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fafafa;
}

.nav-container {
  display: flex;
  border-bottom: 1px solid #dfe1e5;
  padding: 1.5rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container a img {
  height: 7.5rem;
  width: 7.5rem;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem 0;
}

.search-result img {
  max-width: 50rem;
  max-height: 25rem;
  object-fit: cover;
  border-radius: 0.8rem;
  margin-bottom: 5rem;
}

.search-result p {
  max-width: 60rem;
  font-size: 1.8rem;
  text-align: justify;
}

.error-message {
  color: red;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 2rem;
}
